/* login.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #212121;
    color: #fff;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loginCard {
    background-color: #323232;
    padding: 3rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    width: 380px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loginCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px rgba(0,0,0,0.6);
}

.loginHeader {
    text-align: center;
    margin-bottom: 2rem;
}

.loginHeader h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #339cff;
}

.loginHeader p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: #b4b4b4;
}

form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formGroup label {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #b4b4b4;
}

.formGroup input {
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.formGroup input:focus {
    outline: none;
    background-color: rgba(51, 156, 255, 0.1);
    box-shadow: 0 0 8px rgba(51,156,255,0.4);
}

.formGroup button {
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    background-color: #339cff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.formGroup button:hover {
    background-color: #1e7ddf;
    transform: scale(1.05);
}

.switchAuth {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #b4b4b4;
}

.switchAuth a {
    color: #339cff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.switchAuth a:hover {
    color: #1e7ddf;
}


@media (max-width: 420px) {
    .loginCard {
        width: 90%;
        padding: 2rem;
    }

    .loginHeader h1 {
        font-size: 1.5rem;
    }

    .loginHeader p {
        font-size: 0.9rem;
    }
}

